/*
$screen-large: 960px;
$screen-medium: 470px;
$screen-small: 230px;

/* Breakpoints
$bp-tablet: 1024px;
$bp-mobile: 470px;
*/


html {
  font-style: helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.container-space-between {
  display: flex;
  width: 960px;   /*画面サイズに応じて変更*/
  justify-content: space-between;
  align-items: center;
}
.container-align-center {
  display: flex;
  width: 960px;   /*画面サイズに応じて変更*/
  justify-content: center;
  align-items: center;
}
.container-align-left {
  display: flex;
  width: 960px;   /*画面サイズに応じて変更*/
  justify-content: flex-start;
  align-items: center;
}



header {
  display: flex;
  flex-wrap: wrap;
  height: 31rem;
  justify-content: center;
  align-content: flex-start;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
}
header .container-align-center {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(960px + 4rem);
  margin-top: 1rem;
}
header .head-banner {
  width: 960px;
  align-items: center;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
}
header .logo {
  display: flex;
  align-items: center;
}
header .head-banner img {
  height: 1.5rem;
  width: auto;
  margin: 0rem 1rem 0rem 2rem;
}
header .head-banner nav {
  padding: 1rem 1rem;
}
header .head-banner nav span {
  padding: 0rem 1rem;
}
header .sales-copy {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
header .sales-copy h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}


main {
  display: flex;
  justify-content: center;
}
main .contents {
  display: flex;
  flex-direction: column;
}
main .advantages {
    text-transform: capitalize;
}
main .advantages .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 5rem;
  text-align: center;
  margin: 3rem 3rem;
}


main .advantages .box img {
  height: auto;
  max-width: 100%;
  margin: auto;
  overflow: auto;
}
main .advantages .exams {
  width: 3.5rem;
}


main .info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
}
main .info .box {
  width: 35%;
  margin: 0% 2.5%;
}
main .info h2 {
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
}
main .info p {
  margin-top: 1rem;
  line-height: 1.4;
}



footer {
  display: flex;
  justify-content: center;
}
footer .copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(960px + 4rem);
  background-color: azure;
  padding: 4rem 4rem;
}
footer img {
  height: 1.5rem;
  width: auto;
  margin: 0rem 1rem 0rem 0rem;
}

@media only screen and (min-width: 961px) {
  header .head-banner nav.screen-large, header .head-banner nav.screen-medium {display: flex;}
  header .head-banner nav.screen-small {display: none;}
}
@media only screen and (max-width: 960px) {
  .container-space-between, .container-align-center, .container-align-left, header .container-align-center, footer .copyright {
    width: 100%;
  }

  header .container-align-center {
    margin-top: 0rem;
  }
  header {
    height: 22rem;
    width: 100%;
  }
  header .sales-copy h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin: 5rem 2rem 0rem 0rem;
  }
}
@media only screen and (max-width: 700px) {
  header {
    height: 17rem;
    background-position: 20%;
  }

  header .head-banner nav.screen-large, header .head-banner nav.screen-medium, footer .copyright span {display: none;}
  header .head-banner nav.screen-small {display: flex;}

  header .sales-copy {
    text-align: center;
  }
  header .sales-copy h1 {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0rem;
    margin: 9rem 0rem 0rem 0rem;
  }
  main .advantages {
    flex-direction: column;
    margin: 3.77rem 0rem;
  }
  main .advantages .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 5rem;
    text-align: center;
    font-size: 0.77rem;
    margin: 0.77rem 3rem;
  }
  main .info .box {
    flex-wrap: wrap;
    width: 100%;
    margin: 0rem 0rem 4rem 0rem;
  }
  main .info {
    flex-wrap: wrap;
    width: 100%;

    margin-bottom: 0rem;
  }
  main .info .box h2 {
    width: 100%;
    text-align: center;
  }
  main .info .box p {
    font-size: 0.77rem;
    margin-left: 2%;
    margin-right: 2%;
  }
  footer .copyright {
    justify-content: center;
  }
}
